@model IEnumerable<MyDiplomDelivery.ViewModels.O.OrderViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div>
    <h3>@Localizer["All Orders"]</h3>

    @if (Model.Any())
    {
        <table class="table table-bordered border border-primary table-sm align-middle table-light">
            <tr>
                <th>Id</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Description"]</th>
                <th>@Localizer["Status"]</th>
                <th>@Localizer["From"]</th>
                <th>@Localizer["To"]</th>
                <th>@Localizer["Number"]</th>
                <th>@Localizer["Comment"]</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td class="status">@item.Status</td>
                    <td>@item.From</td>
                    <td>@item.To</td>
                    <td>@item.Number</td>
                    <td>@item.Comment</td>
                    <td>
                        <button class="show">
                            <a asp-controller="Order" asp-action="Delete" asp-route-num="@item.Number">@Localizer["Delete"]</a>
                        </button>
                    </td>
                    <td>
                        <button class="show">
                            <a asp-controller="Order" asp-action="Edit" asp-route-num="@item.Number">@Localizer["Edit"]</a>
                        </button>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>@Localizer["History is empty"]</p>
    }

</div>

@section Scripts {
    <script src="~/js/Color.js" asp-append-version="true"></script>
}

@section Links {
    <link rel="stylesheet" href="~/css/Orders.css" asp-append-version="true" />
}