@model IEnumerable<MyDiplomDelivery.ViewModels.Admin.AllUsersViewModel>

<form asp-controller="Roles" asp-action="Index">
    <button>Roles</button>
</form>

<div>
    @if (Model.Any())
    {
        <table>
            <tr>
                <th>First</th>
                <th>Second</th>
                <th>Last</th>
                <th>Activ</th>
                <th>Roles</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.SecondName</td>
                    <td>@item.LastName</td>
                    <td>@item.IsActive</td>
                    <td >@item.Role.Count <span title="@string.Join(" ",item.Role)">{i}</span></td> @* i заменить на иконку *@
                    
                    <td>
                        <button class="show">
                            <a asp-controller="Roles"
                               asp-action="Edit"
                               asp-route-userId="@item.Id">Изменить роль</a>
                        </button>
                    </td>
                    <td>
                        <button class="show">
                            <a asp-controller="Admin"
                               asp-action="EditUser"
                               asp-route-userId="@item.Id">Редактировать пользователя</a>
                        </button>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>История пуста</p>
    }
</div>

@section Scripts {
    <script src="~/js/Color.js" asp-append-version="true"></script>
}

@section Links {
    <link rel="stylesheet" href="~/css/Orders.css" asp-append-version="true" />
}