@model DeliveryDetailViewModel
@* сделать стили или поменять старые  *@
<h2>Создать заказ</h2>
<form method="post" asp-controller="Delivery" asp-action="Create" enctype="multipart/form-data">
    @* 4 *@
    <select class="form-select" asp-items="Model.DeliveryManList" asp-for="SelectDeliveryMan"></select>
    @* 5 *@
    @* <p>
        @Html.Label("id")
        <br />
        @Html.DropDownListFor(model => model.selectDeliveryMan, Model.deliveryManList)
    </p> *@


    @* MY
    <p>
        @Html.LabelFor(m => m.Status, "Status")
        <br />
        @Html.DropDownList("Status",ViewBag.ord,"Select", new {@class = "form-control"})
    </p> *@
    @* ЖПТ  сделать чтобы нормально выбирались а не через контрл*@
    @Html.Label("Orders")
    @Html.ListBoxFor(model => model.SelectedOrders, new MultiSelectList(Model.OrdersList, "Value", "Text"),
    new { @class = "form-control", multiple = "multiple" })

    <button type="submit">Send data</button>
</form>


@section Links{
    <link rel="stylesheet" href="~/css/Inp.css" asp-append-version="true" />
}