@model OrderViewModel
@* сделать стили или поменять старые  *@
<h2>Создать заказ</h2>
<form method="post" asp-controller="Delivery" asp-action="Create" enctype="multipart/form-data">

    @*Есди выбранно то в других тоже можно выбрать*@
    @* //https://www.youtube.com/watch?v=7ps92eq7PtM *@
    <p>
        @Html.LabelFor(m => m.Status, "Status")
        <br />
        @Html.DropDownList("Status",ViewBag.ord,"Select", new {@class = "form-control chosen",multiple="multiple"})
    </p>
    @* https://www.youtube.com/watch?v=pigM1PojI0Q&t=148s *@
    <p>
        @Html.LabelFor(m => m.Status, "Status")
        <br />
        @Html.DropDownList("Status",ViewBag.ord,"Select", new {@class = "form-control"})
    </p>

    <p>
        @Html.LabelFor(m => m.Status, "Status")
        <br />
        @Html.DropDownList("Status",ViewBag.ord,"Select", new {@class = "form-control"})
    </p>


    <button type="submit">Send data</button>
</form>


@section Links{
    <link rel="stylesheet" href="~/css/Inp.css" asp-append-version="true" />
}