@model MyDiplomDelivery.ViewModels.Delivery.EditDeliveryViewModel
<h2>Order № @Model.DeliveryId</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td class="status">@item.Status</td>
        </tr>
    }

</table>
<form asp-action="Edit" asp-controller="Delivery" method="post">
    <input type="hidden" asp-for="@Model.DeliveryId" />
    <input type="hidden" asp-for="@Model.CreationTime" />
    <input type="hidden" asp-for="@Model.UserId" />
    <select id="myDropdown" asp-for="@Model.Status">
        <option value="@StatusType.Todo">@StatusType.Todo.ToString()</option>
        <option value="@StatusType.InProgress">@StatusType.InProgress.ToString()</option>
        <option value="@StatusType.Completed">@StatusType.Completed.ToString()</option>
        <option value="@StatusType.Cancelled">@StatusType.Cancelled.ToString()</option>
        <option value="@StatusType.Closed">@StatusType.Closed.ToString()</option>
    </select>
    <p><input type="submit" value="Отправить" /></p>
</form>

@section Scripts{
    <script src="~/js/Color.js" asp-append-version="true"></script>
}
@section Links{
    <link rel="stylesheet" href="~/css/Orders.css" asp-append-version="true" />
}