@model IEnumerable<MyDiplomDelivery.ViewModels.Delivery.AllDeliveryViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div>
    <button class="btn btn-lg btn-primary" style="position: relative;left: 50%;transform: translate(-50%, 0); margin-top: 25px ; margin-bottom: 25px;">
        <a asp-controller="Delivery" asp-action="Create">
            @Localizer["Create"]
        </a>
    </button>
    @if (Model.Any())
    {
        <table class="table table-bordered border border-primary table-sm align-middle table-light">
            <tr>
                <th>Id</th>
                <th>
                    @Localizer["CreationTime"]
                </th>
                <th>
                    @Localizer["Status"]
                </th>
                <th>
                    @Localizer["deliveryMan"]
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CreationTime</td>
                    <td class="status">@item.Status</td>  
                    <td>@item.FirstName @item.SecondName @item.LastName</td>
                    <td>
                        <button class="show">
                            <a asp-controller="Delivery" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                        </button>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>@Localizer["History is empty"]</p>
    }
</div>

@section Scripts{
    <script src="~/js/Color.js" asp-append-version="true"></script>
}
@section Links{
    <link rel="stylesheet" href="~/css/Orders.css" asp-append-version="true" />
}